.debug{
  border: 1px solid rgba(255,255,255,0.5);
  outline: 1px solid rgba(255,255,255,0.5);
}

.vert{
  background-color: tan;
}

.gon.depth_0{
  animation: spinR 10s infinite linear;
}

.gon.depth_2{
  animation: spinL 30s infinite linear;
}

.vert.depth_0,
.vert.depth_1{
  background-color: transparent;
}

@keyframes spinR{
  100%{
    transform: rotate(360deg);
  }
}

@keyframes spinL{
  100%{
    transform: rotate(-360deg);
  }
}


@keyframes bounce{
  50%{
    padding-top: 10px;
  }
}