.E2.vert{
  background-color: #61BAAE;
}
.E2.vert.depth_1{
  background-color: transparent;
}

.E2.gon.depth_0{
  animation: spinC 35s infinite linear;
}
.E2.gon.depth_1{
  animation: spinCC 14s infinite linear; 
}
.E2.gon.depth_2{
  animation: spinCC 35s infinite linear;
}


.E2.vert.depth_2{
  animation: colorPulse 3.5s infinite ease-in-out;
}
.E2.vert.depth_2.n_1{
  animation-delay: 1s;
}
.E2.vert.depth_2.n_2{
  animation-delay: 2s;
}
.E2.vert.depth_2.n_3{
  animation-delay: 3s;
}
.E2.vert.depth_2.n_4{
  animation-delay: 4s;
}
.E2.vert.depth_2.n_5{
  animation-delay: 5s;
}
.E2.vert.depth_2.n_6{
  animation-delay: 6s;  
}

@keyframes colorPulse{
  50%{
    background-color: #333;
  }
}

@keyframes spinC{
  100%{
    transform: rotate(360deg);
  }
}

@keyframes spinCC{
  100%{
    transform: rotate(-360deg);
  }
}