.E3.vert{
  background-color: rgba(212,243,161,0.4);
}

.E3.vert.depth_0,
.E3.vert.depth_1{
  background-color: transparent;
}

.E3.gon.depth_0{
  animation: spinCC 80s infinite linear;
}

.E3.gon.depth_1{
  animation: spinCC 22s infinite linear;
}

.E3.gon.depth_2{
  animation: spinC 30s infinite linear;
}