.vert{
  background-color: aquamarine;
}

.L0.shape{
  animation: spin 100s infinite linear;
}

.L1.shape{
  animation: spin 10s infinite linear;
}

.L0.shape > .vert,
.L1.shape > .vert{
  background-color: transparent;
}

@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}

@keyframes bounce{
  50%{
    /*margin-top: 10px;*/
  }
}