wh(x, y = x) {width: x; height: y}
circle(r) {wh(r); border-radius: r}
minwh(x, y = x) {min-width: x; min-height: y}
flexXY(x, y = x) {display: flex; justify-content: x; align-items: y}
absPos(t, r = t, b = t, l = t){position: absolute; top: t; right: r; bottom: b; left: l}